#home-page {
    height: 100%;
}

.form-prueba {
    padding: 30px 30px 100px 30px;
    height: auto;
}

#search-page {
    height: 100%;
}

#radio-page{
    height: 100%;
}

#library-page {
    height: max-content;
}


.pagos-prueba {
    padding: 30px 30px 100px 30px;
}

