<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Almacen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="contenido">

    <ion-content>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Pogramaciones de Pago</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <app-vertical-bar-chart></app-vertical-bar-chart>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Ganancias obtenidas</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <app-pie-chart></app-pie-chart>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Ganancias Perdidas</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <app-pie-grid></app-pie-grid>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Ganancias Perdidas</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <app-horizontal-bar-chart></app-horizontal-bar-chart>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Pagos x Usuario</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <app-line-chart></app-line-chart>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </div>
</ion-content>