<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Almacen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    Lista de Productos
  </ion-header>
  <ion-content>
      <!-- <div *ngIf="obtenerProductos() > 0">
        <br>
        <h3>Lista de Productos:</h3>
        <br>
        <ion-list>
          <ion-item *ngFor="let pago of obtenerLista('cheque'), let i = index">
            <ion-label>
              <h2>{{ pago.cliente }}</h2>
              <p>Monto: {{ pago.monto }} | Fecha: {{ pago.fecha }} | Forma de Pago: {{ pago.formaPago }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </div> -->
  </ion-content>
</ion-content>
