ion-tab-bar, ion-tab-button{
    background: #6030FF ;
    color: aliceblue;
}

#home-page, #DIS-page, #DP-page {
    height: 100%;
}

#C-page{
    height: 100%;
}

ion-card{
    margin: 20px 15px 30px;
    background: #ede9fc;
}

ion-item{
    --background: #ede9fc;
}

ion-label{
    margin-right: 10px;
}

ion-toolbar{
    --background: #d7d5fc;
}